<script>
document.addEventListener( 'DOMContentLoaded', function( ) {
    var center_ = [151.209900,-33.8688];

    mapboxgl.accessToken = 'pk.eyJ1IjoiZmZmeDAiLCJhIjoiY2psbGtsa21nMHlneDNwcW4wbzg3bDd5eiJ9.Q3ZS5kabj_xO1KVifuuQJQ';

    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v9',
        center: center_, // starting position
        zoom: 10, // starting zoom
        dragRotate: true
    });

    map.addControl(new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        }, 
        trackUserLocation: true
    }));

    var geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken
    });

    document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
    
    /*
    var MapboxGeocoder = require('@mapbox/mapbox-gl-geocoder');


    // Add geolocate control to the map.
    var geolocate = new mapboxgl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        fitBoundsOptions: {
            maxZoom: 15
        },
        trackUserLocation: false,
        showUserLocation: false
    } ).on( 'geolocate', function( e ) {
        marker.setLngLat( [ e.coords.longitude, e.coords.latitude ] );
    } );
    map.addControl( geolocate );
    map.resize( );
    */

    $( '#locate' ).on( 'click', function( ) {
        geolocate.trigger( );
    } );

    fetch( "{{ url_for( 'business.geojson' ) }}" )
        .then( function( resp ) {
            return resp.json( );
        } ).then( function( myJson ) {
            myJson.features.forEach( function( marker ) {
                var el = document.createElement( 'div' );
                el.className = 'marker';

                new mapboxgl.Marker( el )
                .setLngLat( marker.geometry.coordinates )
                .setPopup( new mapboxgl.Popup( { offset: 20 } )
                .setHTML( '<a href="#bus-' + marker.properties.id + '"><h3>' + marker.properties.title + '</h3></a>' ) )
                .addTo( map );
            } );
        } );
} );
</script>
